@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Booker</h1>
    <p class="lead">Booker is a free web-site for searching and reading great books by best authors of the world ever. Watch all books on booker.</p>
    <p><a href="@Url.Action("Index","Books")" class="btn btn-primary btn-lg">Watch more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Booker gives you a powerful mechanism to search books by authors, you can also read a biography of author, 
            and watch a list of his books. So you can watch a perfect author list provided by Anastasiya Kostykova.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Author")">Watch more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Watch genre list</h2>
        <p>
            Genre list can help you to added you new genres, watch a list of books of your most loved genre.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Genre")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Watch tag list</h2>
        <p>You can easily add new tags that provided additional navigation info for books. So you can easy find a books with your tag.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Tag")">Watch more &raquo;</a></p>
    </div>
</div>