@model IEnumerable<WebApplication.Models.AuthorModels.AuthorShortModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container container-a">
    <div class="row">
        <div class="name">Authors: </div>

        <div class="authors-list">
            @foreach (var author in Model)
            {
                @Html.Partial("_AuthorShortView", author)
            }
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>


