@model WebApplication.Models.ListBookListModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.List.Name</h3>
<div class="clearfix"></div>
<div class="jumbotron">
    @Html.Partial("_BookShortViewList", Model.Books)
</div>


