@using WebApplication.Models.BookModels
@model IEnumerable<WebApplication.Models.BookModels.BookShortModel>

<div class="container panel-group">
    @foreach (BookShortModel book in Model)
    {
        Html.RenderPartial("_BookShortView", book);
    }
</div>

