@using WebApplication.Models.BookModels
@model IEnumerable<WebApplication.Models.BookModels.BookShortModel>

<div class="row panel-group">
    @foreach (BookShortModel book in Model)
    {
        @Html.Partial("_BookShortView", book);
    }
</div>

