@model WebApplication.Models.ContentModels.ContentModel

<div class="">
    <div class="col-md-1 thumbnail">
        <img class="" src="@Url.Action("GetImage", "User", new {id = Model.User.ID})" />
    </div>
    <div class="col-md-11">
        <div class="panel panel-default panel-comment">
            <div class="panel-heading">
                <strong>@Model.User.Name @Model.User.Surname</strong>
            </div>
            <div class="panel-body">
                @Model.Text
            </div>
        </div>
    </div>
</div>