@model WebApplication.Models.GenreFirstModel

<div class="container-authors">
    <div class="author-poster">
        <div class="author-poster-header">
            <div class="author-poster-name"></div>
            <a href="@Url.Action("List", "Genre", new {id = Model.genre.ID})" title="@Model.genre.Name">@Model.genre.Name</a>
        </div>
        <img alt="image" src="@Url.Action("GetImage", "Books", new {id = Model.book.ID})"/>
    </div>
</div>