@model WebApplication.Models.ViewModels.BookModels.BookListModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>All books on Booker</h2>
    <div id="book-list-content">
        @Html.Partial("_BookListNavView", Model)
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

