@using WebApplication.Models
@model WebApplication.Models.ViewModels.GenreModels.GenreIndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Genres</h2>
    <div class="row">
        <div id="genresContent">
            @Html.Partial("_GenreTreeView", Model)
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/bootstrap-select")
    @Scripts.Render("~/Scripts/bootstrap-tree.js")
    <script>
        $(document).ready(function() {
            $("[id^='tree']").treed();
        });
    </script>
    <script>
        function UpdateTree() {
            $("[id^='tree']").treed();
            $('.selectpicker').selectpicker('refresh');
        }
    </script>
}
